body {
    background-color:white;
}

header {
    background-color: #4834d4;
    padding: 1em;
    text-align: center;
    color: white;
    margin-bottom: 2em;
}

.bill {
    margin-bottom: 1em;
    cursor: pointer;
}

.bill img {
    width: 100%;
}

.profile_pic {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 1.5em;
}

#logout {
    background-color: #30336b;
    color: white;
    position: absolute; 
    right: 2.5em;
    padding: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    z-index: 99;
    
}

.btn {
    background-color: #6ab04c;
    color: white;
}